<div class="sidenav-header">
    <img src="profile-pic.png" 
        [width]="profilePicSize()" 
        [height]="profilePicSize()">
    <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
        <h2>My Channel</h2>
        <p>Sharizan Redzuan</p>
    </div>
</div>

<!-- <a 
    mat-list-item 
    class="menu-item"        
    [routerLink]="item.route"
    routerLinkActive="selected-menu-item"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
    style="border-radius: 0;"
    >
    <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon>{{item.icon}}</mat-icon>
    <span matListItemTitle [class.hide-menu-text]="sideNavCollapsed()">{{item.label}}</span>
</a>  -->

<mat-nav-list>
    @for (item of menuItems(); track item.label) {
        <app-menu-item [item]="item" [collapsed]="sideNavCollapsed()"></app-menu-item>
    }
    
</mat-nav-list>

